<section class="post-author">
  <div class="row">
    <div class="large-2 columns">
      <div class="image-box">
        <img src="/images/me300.jpg" alt="tôi" class="circle" />
      </div>
    </div>
    <div class="large-10 columns">
      <div class="details-box clearfix">
        <h2 class="float-left">Vũ Khắc Hợi</h2>
        <ul class="float-left simple menu">
          <li>
            <a href="" title="Email Me">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
          <li>
            <a href="" title="Code" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="" title=" Twitter" target="_blank" class="icon">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="" title=" Facebook" target="_blank" class="icon">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    
    </div>
  </div>
</section>