<section class="sidebar">
  <ul class="menu simple">
    <li>
      <a href="" title="Github" target="_blank" class="icon">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="" title="Twitter"  class="icon">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="" title="Trello"  class="icon">
        <i class="fa fa-trello fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="" title="Facebook"  class="icon">
        <i class="fa fa-facebook fa-2x"></i>
      </a>
    </li>
  </ul>
</section>