@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Enviroment
@inject Microsoft.Extensions.PlatformAbstractions.ApplicationEnvironment Application

@using System.Runtime.InteropServices

@{
    Layout = "~/Views/About/_Template.cshtml";
    ViewBag.Title = "Thông tin";
}
<input type="hidden" value="d9197f1e-e49b-4d41-9851-440cfa63abb7">
<section class="about">
    <section class="who-is">
        <div class="row">
            <div class="large-8 columns">
                <h1>Vũ Khắc Hợi</h1>
                <p>
                    MSSV : 15520269.
                </p>
                <p>
                    Khoa :  <a href="https://www.facebook.com/groups/uit.ktpm2015/" target="_blank" title="Công nghệ phần mềm">Công nghệ phần mềm</a> .
                </p>
                <p>
                    Trường :  <a href="https://www.google.com.vn/search?q=uit&rlz=1C1CHZL_enVN787VN787&oq=uit&aqs=chrome..69i57j69i60l3j0l2.446j0j4&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=10870237,106803325,44&tbm=lcl&rldimm=791057907557743761&ved=0ahUKEwia-8bs7-rZAhXITrwKHVgVCtsQvS4IYTAI&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:791057907557743761;mv:!1m3!1d45543.198374333115!2d106.83606099999999!3d10.9107986!2m3!1f0!2f0!3f0!3m2!1i219!2i279!4f13.1;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" target="_blank" title="Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh">Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh</a> .
                </p>
                <p>
                    Mọi người liên hệ với mình qua facebook <a href="https://www.facebook.com/HoiLaToi" target="_blank" title="facebook">Facebook</a> .
                </p>

            </div>
            <div class="large-4 columns">
                <div class="image-container">
                    <img src="~/images/me300.jpg" alt="Vũ khắc Hợi" class="circle" />
                </div>
            </div>
        </div>
    </section>
    <section class="about-pioneer">
        <div class="row">

            <div class="large-4 columns">
                <div class="image-container">
                    <img src="~/images/me300.jpg" alt="Vũ khắc Hợi" class="circle" />
                </div>
            </div>
            <div class="large-8 columns">
                <h1>Nguyễn Ngọc Duy</h1>
                <p>
                    MSSV : 15520165.
                </p>
                <p>
                    Khoa :  <a href="https://www.facebook.com/groups/uit.ktpm2015/" target="_blank" title="Công nghệ phần mềm">Công nghệ phần mềm</a> .
                </p>
                <p>
                    Trường :  <a href="https://www.google.com.vn/search?q=uit&rlz=1C1CHZL_enVN787VN787&oq=uit&aqs=chrome..69i57j69i60l3j0l2.446j0j4&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=10870237,106803325,44&tbm=lcl&rldimm=791057907557743761&ved=0ahUKEwia-8bs7-rZAhXITrwKHVgVCtsQvS4IYTAI&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:791057907557743761;mv:!1m3!1d45543.198374333115!2d106.83606099999999!3d10.9107986!2m3!1f0!2f0!3f0!3m2!1i219!2i279!4f13.1;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" target="_blank" title="Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh">Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh</a> .
                </p>
                <p>
                    Mọi người liên hệ với mình qua facebook <a href="https://www.facebook.com/HoiLaToi" target="_blank" title="facebook">Facebook</a> .
                </p>

            </div>
        </div>
    </section>
    <section class="who-is">
        <div class="row">
            <div class="large-8 columns">
                <h1>Vũ Khắc Hợi</h1>
                <p>
                    MSSV : 15520269.
                </p>
                <p>
                    Khoa :  <a href="https://www.facebook.com/groups/uit.ktpm2015/" target="_blank" title="Công nghệ phần mềm">Công nghệ phần mềm</a> .
                </p>
                <p>
                    Trường :  <a href="https://www.google.com.vn/search?q=uit&rlz=1C1CHZL_enVN787VN787&oq=uit&aqs=chrome..69i57j69i60l3j0l2.446j0j4&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=10870237,106803325,44&tbm=lcl&rldimm=791057907557743761&ved=0ahUKEwia-8bs7-rZAhXITrwKHVgVCtsQvS4IYTAI&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:791057907557743761;mv:!1m3!1d45543.198374333115!2d106.83606099999999!3d10.9107986!2m3!1f0!2f0!3f0!3m2!1i219!2i279!4f13.1;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" target="_blank" title="Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh">Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh</a> .
                </p>
                <p>
                    Mọi người liên hệ với mình qua facebook <a href="https://www.facebook.com/HoiLaToi" target="_blank" title="facebook">Facebook</a> .
                </p>

            </div>
            <div class="large-4 columns">
                <div class="image-container">
                    <img src="~/images/me300.jpg" alt="Vũ khắc Hợi" class="circle" />
                </div>
            </div>
        </div>
    </section>
    <section class="about-pioneer">
        <div class="row">

            <div class="large-4 columns">
                <div class="image-container">
                    <img src="~/images/me300.jpg" alt="Vũ khắc Hợi" class="circle" />
                </div>
            </div>
            <div class="large-8 columns">
                <h1>Vũ Khắc Hợi</h1>
                <p>
                    MSSV : 15520269.
                </p>
                <p>
                    Khoa :  <a href="https://www.facebook.com/groups/uit.ktpm2015/" target="_blank" title="Công nghệ phần mềm">Công nghệ phần mềm</a> .
                </p>
                <p>
                    Trường :  <a href="https://www.google.com.vn/search?q=uit&rlz=1C1CHZL_enVN787VN787&oq=uit&aqs=chrome..69i57j69i60l3j0l2.446j0j4&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=10870237,106803325,44&tbm=lcl&rldimm=791057907557743761&ved=0ahUKEwia-8bs7-rZAhXITrwKHVgVCtsQvS4IYTAI&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:791057907557743761;mv:!1m3!1d45543.198374333115!2d106.83606099999999!3d10.9107986!2m3!1f0!2f0!3f0!3m2!1i219!2i279!4f13.1;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" target="_blank" title="Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh">Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh</a> .
                </p>
                <p>
                    Mọi người liên hệ với mình qua facebook <a href="https://www.facebook.com/HoiLaToi" target="_blank" title="facebook">Facebook</a> .
                </p>

            </div>
        </div>
    </section>
    <section class="who-is">
        <div class="row">
            <div class="large-8 columns">
                <h1>Vũ Khắc Hợi</h1>
                <p>
                    MSSV : 15520269.
                </p>
                <p>
                    Khoa :  <a href="https://www.facebook.com/groups/uit.ktpm2015/" target="_blank" title="Công nghệ phần mềm">Công nghệ phần mềm</a> .
                </p>
                <p>
                    Trường :  <a href="https://www.google.com.vn/search?q=uit&rlz=1C1CHZL_enVN787VN787&oq=uit&aqs=chrome..69i57j69i60l3j0l2.446j0j4&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=10870237,106803325,44&tbm=lcl&rldimm=791057907557743761&ved=0ahUKEwia-8bs7-rZAhXITrwKHVgVCtsQvS4IYTAI&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:791057907557743761;mv:!1m3!1d45543.198374333115!2d106.83606099999999!3d10.9107986!2m3!1f0!2f0!3f0!3m2!1i219!2i279!4f13.1;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" target="_blank" title="Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh">Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh</a> .
                </p>
                <p>
                    Mọi người liên hệ với mình qua facebook <a href="https://www.facebook.com/HoiLaToi" target="_blank" title="facebook">Facebook</a> .
                </p>

            </div>
            <div class="large-4 columns">
                <div class="image-container">
                    <img src="~/images/me300.jpg" alt="Vũ khắc Hợi" class="circle" />
                </div>
            </div>
        </div>
    </section>
    <section class="about-pioneer">
        <div class="row">

            <div class="large-4 columns">
                <div class="image-container">
                    <img src="~/images/me300.jpg" alt="Vũ khắc Hợi" class="circle" />
                </div>
            </div>
            <div class="large-8 columns">
                <h1>Vũ Khắc Hợi</h1>
                <p>
                    MSSV : 15520269.
                </p>
                <p>
                    Khoa :  <a href="https://www.facebook.com/groups/uit.ktpm2015/" target="_blank" title="Công nghệ phần mềm">Công nghệ phần mềm</a> .
                </p>
                <p>
                    Trường :  <a href="https://www.google.com.vn/search?q=uit&rlz=1C1CHZL_enVN787VN787&oq=uit&aqs=chrome..69i57j69i60l3j0l2.446j0j4&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=10870237,106803325,44&tbm=lcl&rldimm=791057907557743761&ved=0ahUKEwia-8bs7-rZAhXITrwKHVgVCtsQvS4IYTAI&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:791057907557743761;mv:!1m3!1d45543.198374333115!2d106.83606099999999!3d10.9107986!2m3!1f0!2f0!3f0!3m2!1i219!2i279!4f13.1;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" target="_blank" title="Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh">Đại học công nghệ thông tin ,DH quốc gia Hồ Chí Minh</a> .
                </p>
                <p>
                    Mọi người liên hệ với mình qua facebook <a href="https://www.facebook.com/HoiLaToi" target="_blank" title="facebook">Facebook</a> .
                </p>

            </div>
        </div>
    </section>
</section> 